// Blacks
$jet: #272d2d;
$inkstone: #272d2d;
$slate: #424d4d;
$graphite: #424d4d;

// Whites
$white: #b6d1d1;
$porcelain: #b6d1d1;
$silk: #b6d1d1;
$warm_gray: #788484;
$ash: #788484;

// Purples
$aubergine: #a35cff;
$purple: #a35cff;
$light_aubergine: #a35cff;
$mid_aubergine: #824acc;
$dark_aubergine: #824acc;

// Reds
$red: #cc594a;

// Oranges
$orange: #ffb65c;

// Yellows
$yellow: #ffef5c;

// Greens
$green: #6acc4a;

// Blues
$blue: #5c8cff;
$linkblue: #4a7acc;
$darkblue: #4a7acc;


// Semantic colors
$accent_bg_color: $orange !default;
$accent_fg_color: $white !default;
